{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        {% include 'includes/sidebar.html' %}
        <div class="col-md-6" style="margin-top:40px">
            <div class = "card border">
                <div class = "card-body">
                    <div class ="row">
                        <div class="col-md-2">
                            <figure class ="user_profile">
                                {% if request.user.user_image %}
                                <img src="{{ user.user_image.url }}" alt="">
                                {% else %}
                                <img src="{% static 'images/user.jpg' %}" alt="">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="col-md-10">
                            <div class="newpst-input">
                                <form method="post" action="{% url 'post:home' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <textarea rows="2" name="post_body" placeholder="Write something"></textarea>
                                    <div class="attachments">
                                        <ul>
                                            <li>
                                                <i class="fa fa-image"></i>
                                                <label class="fileContainer">
                                                    <input type="file" name="post_image" required>
                                                </label>
                                            </li>
                                            <li>
                                                <button type="submit" class = "btn btn-primary">Post</button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                       
                    </div>
                    
                    
                    </div>
                </div><!-- add post new box -->
                <div class="loadMore">
                    {% for post in posts %}
                        <div class="central-meta item">
                            <div class="user-post">
                                <div class="friend-info">
                                    <figure>
                                        {% if post.user.user_image %}
                                            <img src="{{ post.user.user_image.url }}" alt="">
                                        {% else %}
                                            <img src="{% static 'images/user.jpg' %}"  alt="">
                                        {% endif %}
                                    </figure>
                                    <div class="friend-name">
                                        <ins><a href="#" title="">{{ post.user.username }}</a></ins>
                                        <div class="row">
                                            <div class="col-10">published: {{ post.post_date|timesince }} ago</div>
                                            {% if request.user.username == post.user.username %}
                                            <div class="col-2">
                                            <a href="#" data-toggle="modal" data-target="#myDeleteModal">
                                                <button class="btn btn-danger">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button></a>
                                            </div>
                                        
                                            <div class="modal fade" id="myDeleteModal" role="dialog">
                                                <div class="modal-dialog">
                                                
                                                  <!-- Modal content-->
                                                  <div class="modal-content" >
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Delete Post</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                          </div>
                                                          <div class="modal-body">
                                                           Are you sure you want to delete the post?
                                                          </div>
                                                          <!-- <div class="modal-footer">
                                                            <a href="{% url 'post:post-delete' post.pk %}" class="btn btn-danger" >yes</a>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                                          </div> -->
                                                          <form class="modal-footer" method="post"
                                                          action="{% url 'post:post-delete' post.pk %}">
                                                        {% csrf_token %}
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                            <i class="fas fa-chevron-left"></i>&nbsp;return back
                                                        </button>
                                                        <button type="submit" class="btn btn-outline-danger">delete</button>
                                                    </form>
                                                </div><!-- Modal content-->
                                                </div>
                                              </div>
                                              {% endif %}
                                        </div>
                                        
                                    </div>
                                    <div class="post-meta">
                                        <img src="#" alt="">
                                        
                                        <div class="description">
                                            <img src="{{ post.post_image.url }}"class="img-item " width="600" height="250">
                                            <p>{{ post.post_body }}</p>
                                        </div>
                                        <div class="we-video-info">
                                            <ul>
                                                <li>
                                                    <span class="comment" data-toggle="tooltip" title="Comments">
                                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                                        <ins>{{ post.comments.count }}</ins>
                                                    </span>
                                                </li>
                                                
                                                <li>
                                                    <form method="post"  class='like-form' action="{% url 'post:post_like' %}" id='{{post.id}}' name='{{post.id}}'>
                                                        {% csrf_token %}  
                                                        <input type="hidden" name="post_id" value="{{post.id}}">    
                                                        {% if user not in post.liked.all %}                                               
                                                        <button id="like{{post.id}}" type="submit"><span class="like" data-toggle="tooltip" title="like"><i id="liker" class="fas fa-thumbs-up like"></i><ins class="like-icon">{{ post.liked.count }}</ins></span></button>                                                           
                                                        
                                                        {% else %}
                                                        <button id="like{{post.id}}" type="submit"><span class="dislike" data-toggle="tooltip" title="dislike"><i id="disliker" class="fas fa-thumbs-down dislike"></i><ins class="dislike-icon">{{ post.liked.count }}</ins></span></button> 
                                                      
                                                        {% endif %}
                                                    </form> 
                                                </li>
                                                <li class="social-media">
                                                    <div class="menu">
                                                        <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="coment-area">
                                    <ul class="we-comet">
                                            {% for comment in post.comments.all %}
                                                <li >
                                                    <div class="comet-avatar">
                                                        {% if comment.user.user_image %}
                                                            <img src="{{ comment.user.user_image.url }}" alt="">
                                                        {% else %}
                                                            <img src="{% static 'images/user.jpg' %}" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="we-comment">
                                                        <div class="coment-head">
                                                            <h5><a href="#" title="">{{ comment.user.username }}</a></h5>
                                                            <span>{{ comment.created_at|timesince }} ago</span>
                                                            <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                                            {% if request.user.username == comment.user.username %}
                                                            
                                         
                                                            <form class="modal-footer" method="post"
                                                                action="{% url 'post:comment-delete' comment.pk %}">
                                                              {% csrf_token %}
                                                              
                                                              <button type="submit" class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                          </form>
                                              
                                                            {% endif %}
                                                        </div>
                                                        <p>{{ comment.content  }}</p>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                    </ul>
                                     
                                    <ul class="we-comet">
                                            <li class="post-comment">
                                                <div class="comet-avatar">
                                                    <img src=# alt="">
                                                </div>
                                                <div class="post-comt-box">
                                                    <form method="post"  action="{% url 'post:comment-create' post.id %}">
                                                        {% csrf_token %}
                                                        <input placeholder="Post your comment" id="comment-form" name="content" required>
                                                        
                                                        <button type="submit" class = "btn btn-primary">Comment</button>
                                                       
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                   
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
           
        </div>
        <div class="col-md-3">
            <!-- <h1>Suggestions for you</h1> -->
        </div>
    </div>
    
</div>
{% endblock %}
{% comment %}
{% block scripts %}

<script>
    $( document ).ready(function() {
       
        $('.like-form').submit(function(e){
            e.preventDefault()
            
            const post_id = $(this).attr('id');
            const url = $(this).attr('action');
            console.log("helo");
            console.log(url);
            const icon = this.querySelector('i');
            console.log(icon)
            const like_count = this.querySelector('ins');
            // console.log(like_count.innerHTML );

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id':post_id,
                },
                success : function(response){

                    if(icon.classList.contains('fas fa-thumbs-up like')) {
                        
                        $('#like{{post.id}}').html($('<i/>',{class:'fas fa-thumbs-down dislike'})) ;
                        // like_count.innerHTML = parseInt(like_count.innerHTML)+1;
                        // console.log(like_count.innerHTML );
                        // console.log("IF");

                       
                    } else {
                           $('#like{{post.id}}').html($('<i/>',{class:'fas fa-thumbs-up like'}));
                        //   like_count.innerHTML = parseInt(like_count.innerHTML)-1;
                        // //   console.log(like_count.innerHTML);
                        // console.log("Else");
                         
                    }
                    console.log("hi");
                         
                    },
                    error : function(rs, e){
                        console.log(rs.responseText);
                    },
            })

        })
    });
</script>
{% endblock %}
{% endcomment %}