{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class ="container">
    <div class="row">
              
        <div class = "card border shadow-2-strong col-md-8 mx-auto" style="margin-top:10px">
            <div class = "card-body">
                <div class="row">
                    <div class = "col-md-3">
                        <figure class ="user_profile_image">
                            {% if request.user.user_image %}
                                <img src="{{ request.user.user_image.url }}" alt="" >
                            {% else %}
                                <img src="{% static 'images/default.jpg' %}"  alt="">
                            {% endif %}
                        </figure>
                        
                    </div>
                    <div class ="col-md-1"></div>
                    <div class="col-md-4">
                    <h4>{{ request.user.username }} <a class="btn btn-outline-primary" href="{% url 'dashboard:edit_profile' %}" style="border-radius: 4px "><i class="far fa-edit"></i> edit</a></h4>
                        </div>        
                </div>   
            </div>
        </div>
        <br>
        <hr>
        <br>
        <br>
        <div class="container">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4">
                    <img src="{{ post.post_image.url }}"width="600" height="600">
                </div>
                {% endfor %}
            </div>
        </div>  
        
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}