{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        {% include 'includes/sidebar.html' %}
        <div class="col-md-8" style="margin-top:40px">
            {% block center_content %}
            <div class="central-meta">
                <div class="messages">
                    <h5 class="f-title"><i class="fa fa-bell" aria-hidden="true"></i>All Messages </h5>
                    <div class="message-box">
                        <ul class="peoples">
                            {% for friend in friends %}
                            <li>
                                <figure>
                                    {% if friend.sender.username != request.user.username and friend.sender.user_image %}
                                    <a href="#" title=""><img src="{{ friend.sender.user_image.url }}" alt=""></a>
                                    {% else %}
                                    <a href="#" title=""><img src="{% static 'images/user.jpg' %}" alt=""></a>
                                    {% endif %}
                                </figure>
                                <div class="people-name">
                                    {% if friend.sender.username == request.user.username %}
                                    <a href="{% url 'communications:messages-with-one-friend' friend.receiver.username %}">{{ friend.receiver.username }}</a>
                                    {% else %}
                                    <a href="{% url 'communications:messages-with-one-friend' friend.sender.username %}">{{ friend.sender.username }}</a>
                                    {% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="peoples-mesg-box">
                            <div class="conversation-head">
                                <figure>
                                    {% if friend.sender.user_image %}
                                    <a href="#" title=""><img src="{{ friend.sender.user_image.url }}" alt=""></a>
                                    {% else %}
                                    <a href="#" title=""><img src="{% static 'images/default.jpg' %}" alt=""></a>
                                    {% endif %}
                                </figure>
                                <span class="friendName" id="{{ friend_name_json|slice:'1:-1' }}">Chat with {{ friend_name_json|slice:"1:-1" }}</span>
                            </div>                          
                            <div>
                                <ul id="messages" class="messages">
                                            {# Messages go here #}
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <form onsubmit="" method = "POST">
                                        {% csrf_token %}
                                         <input id="chat-input" type="text" class="form-control input"
                                                placeholder="Type your message here ..."
                                                maxlength="500">
                                        <span class="input-group-btn">
                                            <button class="btn btn-info btn" id="btn-send">Send</button>
                                        </span>
                                    </form>                                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    let sessionKey = '{{ request.session.session_key }}';
    let currentUser = '{{ request.user.username }}';
</script>

<script>
    let currentRecipient = 'SALONI_123';
    let chatInput = $('#chat-input');
    let chatButton = $('#btn-send');
    let messageList = $('#messages');

   

    function drawMessage(message) {
        let position = 'left';
        const date = new Date(message.timestamp);
        if (message.user === currentUser) position = 'right';
        const messageItem = `
                <li class="message ${position}">
                    <div class="avatar">${message.user}</div>
                        <div class="text_wrapper">
                            <div class="text">${message.body}<br>
                                <span class="small">${date}</span>
                        </div>
                    </div>
                </li>`;
        $(messageItem).appendTo('#messages');
    }

    function getConversation(friend) {
        $.getJSON(`/communications/api/v1/message/?target=${friend}`, function (data) {
            messageList.children('.message').remove();
            for (let i = data['results'].length - 1; i >= 0; i--) {
                drawMessage(data['results'][i]);
            }
            messageList.animate({scrollTop: messageList.prop('scrollHeight')});
        });

    }

    function getMessageById(message) {
        id = JSON.parse(message).message
        console.log(id);
        $.getJSON(`/communications/api/v1/message/${id}/`, function (data) {
            console.log(data);
            if (data.user === "admin" ||
                (data.friend === "SALONI_123" && data.author == "admin")) {
                drawMessage(data);
            }
            messageList.animate({scrollTop: messageList.prop('scrollHeight')});
        });
    }

    function sendMessage(recipient, body) {
        console.log(recipient,body)
        $.post('/communications/api/v1/message/', {
            friend: 15,
            message: "hii"
        }).fail(function () {
            alert('Error! Check console!');
        });
    }

    

$(document).ready(function () {
        let friendName = currentRecipient;
        let socket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/communications/' + currentRecipient + '/');
    console.log(socket);
    chatInput.keypress(function (e) {
        if (e.keyCode == 13)
            chatButton.click();
    });
    
    chatButton.click(function () {
        if (chatInput.val().length > 0) {
            sendMessage(currentRecipient, chatInput.val());
            chatInput.val('');
        }
    });

    socket.onmessage = function (e) {
        console.log("mess");
        getMessageById(e.data);
    };
});

</script>


{% endblock %}