{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        {% include 'includes/sidebar.html' %}
        <div class="col-md-8" style="margin-top:40px">
            {% block center_content %}
            <div class="central-meta">
                <div class="messages">
                    <h5 class="f-title"><i class="fa fa-bell" aria-hidden="true"></i>All Messages </h5>
                    <div class="message-box">
                        <ul class="peoples">
                            {% for friend in friends %}
                            <li>
                                <figure>
                                    {% if friend.sender.username != request.user.username and friend.sender.user_image %}
                                    <a href="#" title=""><img src="{{ friend.sender.user_image.url }}" alt=""></a>
                                    {% else %}
                                    <a href="#" title=""><img src="{% static 'images/user.jpg' %}" alt=""></a>
                                    {% endif %}
                                </figure>
                                <div class="people-name">
                                    {% if friend.sender.username == request.user.username %}
                                    <a href="{% url 'communications:messages-with-one-friend' friend.receiver.username %}">{{ friend.receiver.username }}</a>
                                    {% else %}
                                    <a href="{% url 'communications:messages-with-one-friend' friend.sender.username %}">{{ friend.sender.username }}</a>
                                    {% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="peoples-mesg-box">
                            <div class="conversation-head">
                                <figure>
                                    {% if friend.sender.user_image %}
                                    <a href="#" title=""><img src="{{ friend.sender.user_image.url }}" alt=""></a>
                                    {% else %}
                                    <a href="#" title=""><img src="{% static 'images/default.jpg' %}" alt=""></a>
                                    {% endif %}
                                </figure>
                                <span>Chat with {{ friend_name_json|slice:"1:-1" }}</span>
                            </div>
                            <textarea id="chat-log" cols="100" rows="20"></textarea><br>
                            <div class="message-text-container">
                                <form onsubmit=" return false;">
                                    <div class="msg-box msg-box--background" >
                                        <div id="new-message-chat"></div>
                                    </div>
                                    <textarea id="chat-message-input" placeholder="Type your message"></textarea>
                                    <em id="typing"></em>
                                    <button title="send" id="chat-message-submit"><i class="fa fa-paper-plane btn btn-primary" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}

<script>

        let friendName = {{ friend_name_json }};
        let username = {{ username }};

        let chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/chat/' + friendName + '/');



        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>

{% endblock %}