<div class="col-lg-3" style="margin-top:30px">
    <div class = "container-fluid" >
        <div class = "card border" style="padding: 10px;">
            <h4 align ="center" class="widget-title"><U>Shortcuts</U></h4>
        <div class = "card-body">
    
            <ul class="naves">
                <li>
                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                    <a href="#" title="">Posts</a>
                </li>
                <li>
                    <i class="fa fa-inbox" aria-hidden="true"></i>
                    <a href="#" title="">Inbox</a>
                </li>
                <li>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <a href="#" title="">Find Friends</a>
                </li>
                <li>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <a href="#" title="">Friends</a>
                </li>
                <li>
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <a href="#" title="">Notifications</a>
                </li>
                <li>
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <a href="#" title="">Logout</a>
                </li>
            </ul>
        </div>
        </div>
        </div>
</div><!-- sidebar -->