{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        {% include 'includes/sidebar.html' %}
        <div class="col-md-6" style="margin-top:30px">
            {% block center_content %}
            <div class = "card border">
                <div class = "card-body">
                    <div class ="row">
                        <div class="col-md-2">
                            <figure class ="user_profile_image">
                                {% if request.user.user_image %}
                                <img src="{{ user.user_image.url }}" alt="">
                                {% else %}
                                <img src="{% static 'images/default.jpg' %}" alt="">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="col-md-10">
                            <div class="newpst-input">
                                <form method="post" action="{% url 'post:home' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <textarea rows="2" name="post_body" placeholder="Write something"></textarea>
                                    <div class="attachments">
                                        <ul>
                                            <li>
                                                <i class="fa fa-image"></i>
                                                <label class="fileContainer">
                                                    <input type="file" name="post_image" required>
                                                </label>
                                            </li>
                                            <li>
                                                <button type="submit" class = "btn btn-primary">Post</button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                       
                    </div>
                    
                    
                    </div>
                </div><!-- add post new box -->
                <div class="loadMore">
                    {% for post in posts %}
                        <div class="central-meta item">
                            <div class="user-post">
                                <div class="friend-info">
                                    <figure>
                                        {% if post.user.user_image.url %}
                                            <img src="{{ post.user.user_image.url }}" alt="">
                                        {% else %}
                                            <img src="{% static 'images/default.jpg' %}"  alt="">
                                        {% endif %}
                                    </figure>
                                    <div class="friend-name">
                                        <ins><a href="#" title="">{{ post.user.username }}</a></ins>
                                        <span>published: {{ post.post_date|timesince }} ago</span>
                                    </div>
                                    <div class="post-meta">
                                        <img src="#" alt="">
                                        <div class="we-video-info">
                                            <ul>
                                                <!-- <li>
                                                    <span class="comment" data-toggle="tooltip" title="Comments">
                                                        <i class="fa fa-comments-o"></i>
                                                        <ins>{{ post.comments.count }}</ins>
                                                    </span>
                                                </li> -->
                                                <li>
                                                    <span class="like" data-toggle="tooltip" title="like">
                                                        <i class="ti-heart"></i>
                                                        <ins>2.2k</ins>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="dislike" data-toggle="tooltip" title="dislike">
                                                        <i class="ti-heart-broken"></i>
                                                        <ins>200</ins>
                                                    </span>
                                                </li>
                                                <li class="social-media">
                                                    <div class="menu">
                                                        <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="rotater">
                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="description">
                                            <img src="{{ post.post_image.url }}"width="600" height="250">
                                            <p>{{ post.post_body }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="coment-area">
                                    <ul class="we-comet">
                                        {% for comment in post.comments.all %}
                                            <li>
                                                <div class="comet-avatar">
                                                    {% if comment.user.profile.profile_image.url %}
                                                        <img src="#" alt="">
                                                    {% else %}
                                                        <img src="{{ comment.user.user_image.url }}" alt="">
                                                    {% endif %}
                                                </div>
                                                <div class="we-comment">
                                                    <div class="coment-head">
                                                        <h5><a href="#" title="">{{ comment.user.username }}</a></h5>
                                                        <span>{{ comment.created_at|timesince }} ago</span>
                                                        <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                                    </div>
                                                    <p>{{ comment.content }}</p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        <li class="post-comment">
                                            <div class="comet-avatar">
                                                <img src=# alt="">
                                            </div>
                                            <div class="post-comt-box">
                                                <form method="post"  action="{% url 'post:comment-create' post.id %}">
                                                    {% csrf_token %}
                                                    <input placeholder="Post your comment" id="comment-form" name="content">
                                                    
                                                    <button type="submit" class = "btn btn-primary">Comment</button>
                                                   
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
           
        </div>
            {% endblock %}
            
        <div class="col-md-3">
            {% block right-sidebar %}
            <h1>home</h1>
            {% endblock %}
        </div>
    </div>
    
</div>
{% endblock %}
